<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <div id="topcontainer">
        <img src="logo.png" alt="logo" width="60px">
        <header>&nbsp;&nbsp;Kaboom Pizza</header>
    </div>

    <nav class="navbar">
        <a href="./HomePage.html" class="hyperlink">Home</a>
        <a href="./Order.html" class="hyperlink">Order Now</a>
        <a href="./Location.html" class="hyperlink">Location</a>
        <a href="./Help.html" class="hyperlink">Help</a>
        <a href="./Cart" class="hyperlink">View Cart</a>
        <a href="./ManageOrders.html" class="hyperlink">Manage Orders</a>
    </nav>

    <link href="design.css" rel="stylesheet">
    <script src="ManageOrders.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
</head>

<body>
    <h1>Your order has been received!</h1>
    <h1>Your Order Tracking Number is:
        <%=data.insertId%>
    </h1>

    <p>You may track your order below:</p>
    <br>
    <form method="POST" action="/track">
        <p>Enter your order ID to track your order.</p>
        <p>
            <label for="order_number">Order ID:</label>
            <input type="number" name="order_number" placeholder="Enter Order ID" required>
        </p>
        <button>Search</button>
    </form>

    <br><br>



</body>

</html>